/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #01e29f;
    --hover-color: rgba(1, 1, 1, 0);
    --body-color: rgb(30,30,30);
    --container-color: #2d2e37;
    --text-color: #ffffff;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b4b4b4;
    color: #333;
}

.section_container
{
    margin: 5rem 0 0 0;
}